body{
    background-color: rgb(159, 183, 214);
}
.userimg{
    width: 400px;
    height: 400px;
    padding-top: 50px;
    border-radius: 20px;
}
    
.main{
    background-color: darkblue;
    border-radius: 20px;
    margin: 50px;
    width: 1230px;
    height: 560px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow:darkblue
}

.heading1{
    color: white;
    padding-top: 50px;
    font-size: 50px;
}
.heading2{
    color: white;
    padding-top: 20px;
}

.heading3{
    color: white;
    padding-top: 10px;
}

